USE [master]
GO
/****** Object:  Database [DersNotKayıt]    Script Date: 24.04.2021 21:26:26 ******/
CREATE DATABASE [DersNotKayıt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DersNotKayıt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DersNotKayıt.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DersNotKayıt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DersNotKayıt_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DersNotKayıt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DersNotKayıt]
GO
/****** Object:  Table [dbo].[TBLOGR]    Script Date: 24.04.2021 21:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLOGR](
	[OGRID] [smallint] IDENTITY(1,1) NOT NULL,
	[OGRNUMARA] [char](4) NULL,
	[OGRAD] [varchar](25) NULL,
	[OGRSOYAD] [varchar](25) NULL,
	[OGRS1] [tinyint] NULL,
	[OGRS2] [tinyint] NULL,
	[OGRS3] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGR] ON 

INSERT [dbo].[TBLOGR] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (1, N'1234', N'Doğa Barış', N'Gönen', 65, 60, 0, CAST(41.67 AS Decimal(18, 2)), 0)
INSERT [dbo].[TBLOGR] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (2, N'1235', N'Beste', N'Kalaycıoğlu', 88, 100, 95, CAST(94.33 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBLOGR] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRS1], [OGRS2], [OGRS3], [ORTALAMA], [DURUM]) VALUES (3, N'1236', N'Ateşcan', N'Kalaycıoğlu', 30, 55, 75, CAST(53.33 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[TBLOGR] OFF
USE [master]
GO
